
@{
    ViewBag.Title = "ThanhCong";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<section class="clearfix main mt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="title">
                    <h3 class="text-center py-5">Thanh Toán thành công</h3>
                </div>

                <svg xmlns="http://www.w3.org/2000/svg" width="72px" height="72px">
                    <g fill="none" stroke="#8EC343" stroke-width="2">
                        <circle cx="36" cy="36" r="35" style="stroke-dasharray:240px, 240px; stroke-dashoffset: 480px;"></circle>
                        <path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="stroke-dasharray:50px, 50px; stroke-dashoffset: 0px;"></path>
                    </g>
                </svg>
                <h2>Cảm ơn bạn đã đặt hàng</h2>
                <section class="my-5">
                    <a href="~/" class="btn btn-dark">Tiếp tục mua hàng</a>
                </section>
            </div>
        </div>
    </div>

    </div>
</section>
